{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="/media/profile_pics/me.jpg">
        <div class="media-body">
            <h2 class="account-heading">Travis Theall</h2>
            <p class="text-secondary">travistheall@outlook.com</p>
            <a href="https://www.linkedin.com/in/travis-theall-9b688717a/">LinkedIn</a>
        </div>
      </div>
    </div>
{% endblock content %}
